<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline"
      pullingText="Desliza para actualizar notificaciones" refreshingSpinner="circles" refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let notification of notifications">
      <ion-card class="notification-card">
        <ion-card-header>
          <ion-card-title>{{ notification.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p [innerHTML]="notification.body.replace('\n', '<br>')"></p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>