<ion-header>
  <ion-toolbar>
    <ion-title>Añadir Calificación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addCalificacion()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Estado de Matrícula</ion-label>
      <ion-input [(ngModel)]="estado" name="estadoMatricula" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Subir Documento</ion-label>
      <input type="file" (change)="onFileSelected($event)" />
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nota</ion-label>
      <ion-input type="number" [(ngModel)]="nota" name="nota" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Añadir Calificación</ion-button>
  </form>
</ion-content>