<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title-style">CALIFICACIONES ESTUDIANTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-style">
    <ion-card-header>
      <ion-card-title class="card-title">Detalles de las Calificaciones</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="header-row">
          <ion-col size="3" class="column-header"><strong>MATERIA</strong></ion-col>
          <ion-col size="3" class="column-header"><strong>ESTUDIANTE</strong></ion-col>
          <ion-col size="3" class="column-header"><strong>CALIFICACIÓN</strong></ion-col>
          <ion-col size="3" class="column-header"><strong>ESTADO MATRICULA</strong></ion-col> <!-- Nueva columna -->
        </ion-row>

        <ion-row *ngFor="let materia of materias" class="row-data">
          <ion-col size="3" class="data-col">{{ materia.nombre }}</ion-col>
          <ion-col size="3" class="data-col">{{ materia.estudiante }}</ion-col>
          <ion-col size="3" class="data-col">{{ materia.nota | number:'1.1-1' }}</ion-col>
          <ion-col size="3" class="data-col">
            <!-- Icono y texto para el estado -->
            <ion-icon *ngIf="materia.estado === 'Activo'" name="checkmark-circle" color="success"></ion-icon>
            <ion-icon *ngIf="materia.estado === 'Inactivo'" name="close-circle" color="danger"></ion-icon>
            {{ materia.estado }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
